body {
    background-color: #101010;
    overflow-x: hidden;
    padding: 100px
}

h1 {
    font-family: 'Katibeh', cursive;
    font-size: 60px;
    line-height: 1.2;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
strong {
    color: white;
}

#sections {
    position: relative;
    width: 400px;
    top: 60px;
    z-index: 90;
    margin-left: 660px;
    margin-right: 660px;
}

#vis {
    position: fixed;
    top: 0px;
    z-index: 1;
    height: 1080px;
    width: 1720px;
    opacity: 1;
}

.step {
    margin-bottom: 100px;
    height: 700px;
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
}

.canvas {
    margin-top: 100px;
}

.textbox {
    background-color: rgba(0, 0, 0, 0.4);
    color: orange;
    text-align: center;
}

#charts {
    position: fixed;
    width: 1720;
    height: 1080;
    margin-top: -100px;
    z-index: 200;
}

#infobox {
    position: fixed;
    width: 400px;
    height: 1000px;
    margin-top: -6200px;
    color: white;
    z-index: 200;
}

#tooltip {
    position: relative;
    z-index: 250;
}